# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.user

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
env/

# Logs
*.log

# Extension build artifacts
*.zip
*.crx
*.pem
web-ext-artifacts/
